:root{
    background-color: #22272e;
    text-align: center;
}
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.frontpage-section{
    top: 50%;
}
.frontpage-section a img{
    width: 10em;
    height: 10em;
    box-shadow: 0.2em 0.2em 1em 0.1em #141414;
}
.frontpage-section a h3 a{
    color:black;
}